<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#e1efe6" name="theme-color">
    <title>PFESSC Branding</title>
    <link href="{{ url_for('static', path='css/uikit.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/hyperscript.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/uikit-icons.min.js') }}"></script>
    <style>
        .filtered {
            background-color: #EFCB68; font-size: 0.7em; padding: 4px; padding-left: 12px; padding-right: 12px;
            margin-right: 8px; margin-bottom: 8px;
        }
        .options {
            font-size: 0.7em; padding: 4px; padding-right: 12px; margin: 3px;
        }
        .clr-brief {
            width: 16px; height: 16px; margin-right: 3px; border: 1px solid #818589;
        }
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none; margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<nav class="uk-navbar-container" style="letter-spacing: 3px;">
    <div class="uk-container">
        <div uk-navbar="align: center">
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-hidden@m uk-margin-right">
                        <a class="uk-navbar-toggle uk-navbar-toggle-animate" href="#" uk-navbar-toggle-icon></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="uk-flex uk-flex-middle" href="/">
                            <span class="uk-text-large uk-text-bold">PfessC</span>
                            <div class="uk-margin-small-right"
                                 style="width: 2px; height: 44px; background-color: #EFCB68; margin-left: 4px;"></div>
                            <span class="uk-text-small" style="color: #EFCB68; letter-spacing: 6px;">BRANDING</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="uk-navbar-container" style="letter-spacing: 3px;">
    <div class="uk-container">
        <div uk-navbar="align: center">
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a class="uk-text-nowrap" href="/">Home</a>
                    </li>
                    {% for item in categories_4 %}
                    <li>
                        <a class="uk-text-nowrap" href="#">{{ item['categoryName'] }}</a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for child in item['children'] %}
                                <li><a href="#">{{ child['categoryName'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <a class="uk-text-nowrap" href="#">More...</a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">More items</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="uk-padding-small uk-background-secondary uk-width-1-1 uk-text-center" style="letter-spacing: 3px;">
    <span uk-icon="icon: tag; ratio: 2"></span>
    <span class="uk-text-large uk-text-bold uk-text-middle">FREE SHIPPING</span>
    <span class="uk-text-middle">ON ORDERS OVER R 1050</span>
</div>

{% block content %}
{% endblock %}

<div class="uk-section uk-section-large uk-section-muted">
    <div class="uk-container">

        <h3 class="uk-flex uk-flex-middle">
            <span class="uk-text-large uk-text-bold" style="letter-spacing: 3px;">PfessC</span>
            <span class="uk-margin-small-right"
                  style="width: 2px; height: 44px; background-color: #EFCB68; margin-left: 7px;"></span>
            <span class="uk-text-small"
                  style="color: #EFCB68; letter-spacing: 6px;">BRANDING</span>
        </h3>

        <div class="uk-grid-match uk-child-width-1-3@m" data-uk-grid>
            <div>
                <ul class="uk-list uk-link-text">
                    {% for linkName in ['About Us', 'FAQ\'s', 'Shopping & Returns', 'Terms of Service', 'Privacy
                    Policy', 'Contact Us'] %}
                    <li><a href="#">{{ linkName }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <ul class="uk-list">
                    <li><span class="uk-margin-small-right" data-uk-icon="mail"></span> sales@pfessc.co.za</li>
                    <li><span class="uk-margin-small-right" data-uk-icon="comment"></span> 0678817625</li>
                    <li><span class="uk-margin-small-right" data-uk-icon="receiver"></span> 0659027397</li>
                </ul>
            </div>
            <div>
                <p class="uk-text-lead">Streamlining Your Success with Effortless Branding Solutions.</p>
                <form>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" data-uk-icon="icon: mail"></span>
                            <input aria-label="Large" class="uk-input uk-form-width-large uk-form-large uk-border-rounded"
                                   placeholder="your@email.address"
                                   type="text">
                        </div>
                    </div>
                    <p class="uk-text-meta">We'll never share your email with anyone else.</p>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>