<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e1efe6">
    <title>PFESSC Branding</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/uikit.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"/>
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/uikit-icons.min.js') }}"></script>
    <style>
        .filtered {
            background-color: #EFCB68;
            font-size: 0.7em;
            padding: 4px;
            padding-left: 12px;
            padding-right: 12px;
            margin-right: 8px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<nav class="uk-navbar-container" style="letter-spacing: 3px;">
    <div class="uk-container">
        <div uk-navbar="align: center">
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href hx-get="/index" hx-target="#content" class="uk-flex uk-flex-middle">
                            <span class="uk-text-large uk-text-bold">PfessC</span>
                            <div class="uk-margin-small-right"
                                 style="width: 2px; height: 44px; background-color: #EFCB68; margin-left: 4px;"></div>
                            <span class="uk-text-small" style="color: #EFCB68; letter-spacing: 6px;">BRANDING</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="uk-navbar-container" style="letter-spacing: 3px;">
    <div class="uk-container">
        <div uk-navbar="align: center">
            <div class="uk-navbar-center">
                <div class="uk-hidden@m">
                    <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a href="/" class="uk-text-nowrap">Home</a>
                    </li>
                    {% for item in categories_4 %}
                    <li>
                        <a href="#" class="uk-text-nowrap">{{ item['categoryName'] }}</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for child in item['children'] %}
                                <li><a href="#">{{ child['categoryName'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#" class="uk-text-nowrap">More...</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="uk-padding-small uk-background-secondary uk-width-1-1 uk-text-center" style="letter-spacing: 3px;">
    <span uk-icon="icon: tag; ratio: 2"></span>
    <span class="uk-text-large uk-text-bold uk-text-middle">FREE SHIPPING</span>
    <span class="uk-text-middle">ON ORDERS OVER R 1050</span>
</div>

{% block content %}
{% endblock %}

<div class="uk-section uk-section-large uk-section-muted">
    <div class="uk-container">

        <h3 class="uk-flex uk-flex-middle">
            <span class="uk-text-large uk-text-bold" style="letter-spacing: 3px;">PfessC</span>
            <span class="uk-margin-small-right"
                  style="width: 2px; height: 44px; background-color: #EFCB68; margin-left: 7px;"></span>
            <span class="uk-text-small"
                  style="color: #EFCB68; letter-spacing: 6px;">BRANDING</span>
        </h3>

        <div class="uk-grid-match uk-child-width-1-3@m" data-uk-grid>
            <div>
                <ul class="uk-list uk-link-text">
                    {% for linkName in ['About Us', 'FAQ\'s', 'Shopping & Returns', 'Terms of Service', 'Privacy
                    Policy', 'Contact Us'] %}
                    <li><a href="#">{{ linkName }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <ul class="uk-list">
                    <li><span class="uk-margin-small-right" data-uk-icon="mail"></span> sales@pfessc.co.za</li>
                    <li><span class="uk-margin-small-right" data-uk-icon="comment"></span> 0678817625</li>
                    <li><span class="uk-margin-small-right" data-uk-icon="receiver"></span> 0659027397</li>
                </ul>
            </div>
            <div>
                <p class="uk-text-lead">Streamlining Your Success with Effortless Branding Solutions.</p>
                <form>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" data-uk-icon="icon: mail"></span>
                            <input class="uk-input uk-form-width-large uk-form-large uk-border-rounded" type="text"
                                   placeholder="your@email.address"
                                   aria-label="Large">
                        </div>
                    </div>
                    <p class="uk-text-meta">We'll never share your email with anyone else.</p>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>