<div class="uk-flex uk-flex-wrap uk-flex-center uk-text-center" data-uk-grid
     data-uk-scrollspy="cls: uk-animation-scale-up uk-transform-origin-top-center; target: .uk-card; delay: 25; repeat: true">
    {% for item in collections %}
    <a class="uk-card uk-card-small uk-link-toggle" href="#" style="width: 180px">
        <div class="uk-card-media-top uk-cover-container uk-border-circle" style="height: 140px;">
            <img alt="" src="{{ item['image']|default(default_img) }}" uk-cover>
        </div>
        <div class="uk-card-body">
            <div style="height: 44px; line-height: 1.2; font-size: 0.8em; overflow: hidden;">
                {{ item['name'] }}
            </div>
        </div>
    </a>
    {% endfor %}
</div>