{% extends 'base.html' %}
{% block content %}
{% include 'products-slider.html' %}
{% include 'suppliers-grid.html' %}
{% include 'feature-slider.html' %}
{% include 'feature-slider.html' %}
{% include 'feature-slider.html' %}
<div class="uk-section" style="background: #e1efe6;">
    {% include 'collections-slider.html' %}
</div>
<div class="uk-section uk-flex" style="background-color: #FFC000">
    <div class="uk-card uk-card-large uk-card-body uk-margin-auto">
        <h3 class="uk-card-title uk-text-bold">HAVE AN EMERGENCY or UNPLANNED ORDER?</h3>
        <p class="uk-text-bold uk-width-large@s">Experience Lightning-Fast Branding on over 170 Popular
            Products with LOGO24!</p>
        <p class="uk-width-large@s">LOGO24 is an extraordinary new initiative that offers "next day" turnaround
            including branding on
            over 170 of our most popular products when you need branded products super-fast!</p>
        <a class="uk-button uk-button-secondary uk-border-pill uk-margin-top" href="#">LOGO24 items</a>
    </div>
</div>
{% endblock %}