<nav class="uk-padding-large">
    <ul class="uk-pagination">
        {%if page > 1%}
        <li class="uk-margin-auto-left">
            <a href="{{url_for('shopall', page=(page - 1))}}">
                <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
            </a>
        </li>
        {%endif%}
        {%if products%}
        <li class="{{'uk-margin-auto-left' if page == 1}}">
            <a href="{{url_for('shopall', page=(page + 1))}}">
                Next <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
        </li>
        {%endif%}
    </ul>
</nav>