{% extends 'base.html' %}
{% block content %}
<div _="on load call me.scrollIntoView({behavior: 'smooth'})" class="uk-section" id="products"
     style="transition: all 2000ms ease-out">
    <div class="uk-container">
        <p class="uk-text-lead uk-text-center uk-margin-large uk-text-uppercase" style="letter-spacing: 3px;">Shop all
            products</p>
        <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-large">
            <div class="uk-inline uk-flex-right">
                <a class="uk-button uk-button-secondary uk-border-pill uk-text-nowrap" href="#product-filter-modal"
                   uk-toggle>
                    <span uk-icon="icon: settings; ratio: 0.8"></span>
                    <span class="uk-text-bold uk-visible@s" style="margin-left: 4px; font-size: 0.7em">Filter</span>
                </a>
                <div class="uk-modal-container" id="product-filter-modal" uk-modal="bg-close: false">
                    {% include 'product-filter.html' %}
                </div>
            </div>
            <form class="uk-search uk-search-default uk-width-expand" style="margin-left:8px">
                <span uk-search-icon></span>
                <input aria-label="Search" class="uk-search-input uk-border-pill" placeholder="Search"
                       type="search">
            </form>
        </div>
        {% include 'products-grid.html' %}
    </div>
</div>
{% endblock %}