<div class="uk-width-1-6@l uk-width-1-5@m uk-width-1-4@s uk-visible@s">
    <form>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend uk-margin-large-bottom">Filters</legend>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Gender</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>Ladies</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Material</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>Polyester and Spandex</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Fit</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>StandardFit</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Category</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>Cargo Pants And Shorts</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Brand</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>Altitude</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <div class="uk-flex uk-flex-between uk-flex-middle" style="font-size: 0.7em; padding-bottom: 4px">
                <div>Keywords</div>
                <div class="uk-inline">
                    <a href><span uk-drop-parent-icon></span></a>
                    <div class="uk-card uk-card-body uk-card-default"
                         uk-drop="mode: click; animation: slide-top; animate-out: true; duration: 100">Lorem ipsum dolor
                        sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </div>
                </div>
            </div>
            <div uk-margin>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>backpack</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>bag</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
                <span class="uk-badge" style="font-size: 0.7em; padding: 12px;">
                    <span>jute</span>
                    <a href class="uk-margin-small-left" uk-icon="icon: close; ratio: 0.6;"></a>
                </span>
            </div>
            <hr>
            <label style="font-size: 0.7em">
                <span class="uk-margin-small-right">Available with Logo24</span>
                <input class="uk-checkbox" type="checkbox" name="logo24">
            </label>
            <div class="uk-margin">
                <div style="font-size: 0.7em; padding-bottom: 4px">Price</div>
                <div style="font-size: 0.8em">from R 799</div>
                <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1" aria-label="Range">
                <div style="font-size: 0.8em">to R 800</div>
                <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1" aria-label="Range">
            </div>
        </fieldset>
    </form>
</div>