{% extends 'base.html' %}
{% block content %}
<div class="uk-section" _="on load go to the top of me smoothly">
    <div class="uk-container">
        <button class="uk-float-right uk-close-large" type="button" onclick="history.back()" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div uk-slideshow="animation: push; ratio: 1:1">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <div class="uk-slideshow-items">
                        {% for image in product['images'] %}
                        <div>
                            <img src="{{ image.urls[0].url|default(default_img) }}" alt="{{ image.name }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href
                       uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href
                       uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
                <ul class="uk-thumbnav uk-flex-center uk-flex-nowrap uk-margin">
                    {% for image in product['images'] %}
                    <li uk-slideshow-item="{{ product['images'].index(image) }}"><a href>
                        <img src="{{ image.urls[0].url|default(default_img) }}" width="67" height="67" alt="">
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-padding uk-margin-auto-vertical">
                <p class="uk-text-bold uk-width-medium" style="font-size: 1em">
                    {{ product.productName|default('No product name') }}
                </p>
                <div class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-small"
                     style="font-size: 0.8em; height: 14px;">{{ product.brand.name|default('PfessC Branding') }}
                </div>
                <div class="uk-text-bold uk-text-nowrap uk-margin-bottom" style="font-size: 0.8em;">
                   {% if product.price %}R {{ product.price }}{% else %}Sold Out{% endif %}
                </div>
                <div class="uk-text-muted uk-text-bold" style="font-size: 0.8em; margin: 3px;">Available Colours</div>
                <div class="uk-flex uk-flex-wrap uk-flex-middle uk-margin-bottom">
                    {% for item in product['variants']|avail_colours %}
                    <label class="options uk-border-pill uk-text-bold uk-flex uk-flex-bottom uk-light"
                           style="background-color: {{ item|colour_filter }};">
                        <input class="uk-radio" type="radio" name="codeColour" {% if loop.first %} checked {% endif %}
                               style="border-color: transparent;">&nbsp;
                        <span _="on load
                                if my innerHTML is in ['None', 'SOLID WHITE', 'NATURAL', 'TRANSPARENT', 'KHAKI',
                                'WHITE BLACK', 'WHITE LIGHT BLUE', 'WHITE', 'CYAN']
                                remove .uk-light from the closest <label/>
                                if my innerHTML is in ['None', 'SOLID WHITE', 'NATURAL', 'TRANSPARENT', 'WHITE BLACK', 'WHITE']
                                then set *border-color of the closest <label/> to '#818589'
                                then set *border-width of the closest <label/> to 1px
                                then set *border-style of the closest <label/> to 'solid'">{{ item }}</span>
                    </label>
                    {% endfor %}
                </div>
                {% if product['variants']|avail_sizes|length > 0 %}
                <div class="uk-text-muted uk-text-bold" style="font-size: 0.8em; margin: 3px;">Available Sizes</div>
                <div class="uk-flex uk-flex-wrap uk-flex-middle uk-margin-bottom">
                    {% for item in product['variants']|avail_sizes %}
                    <label class="options uk-border-pill uk-text-bold uk-flex uk-flex-bottom uk-background-secondary uk-light">
                        <input class="uk-radio" type="radio" name="codeSize" {% if loop.first %} checked {% endif %}
                               style="border-color: transparent;">&nbsp;
                        <span>{{ item }}</span>
                    </label>
                    {% endfor %}
                </div>
                {% endif %}
                <button class="uk-button uk-button-default uk-width-medium uk-margin-small-bottom uk-border-pill
                        uk-text-bold uk-text-left" style="font-size: 0.7em">
                    <span class="uk-margin-small-right" uk-icon="icon: cart"></span><span>Add to cart</span>
                </button>
                <button class="uk-button uk-button-primary uk-width-medium uk-margin-bottom uk-border-pill uk-text-bold
                uk-text-right" style="font-size: 0.7em">
                    <span>Checkout</span><span class="uk-margin-small-left" uk-icon="icon: arrow-right"></span>
                </button>
                <p class="uk-text-muted uk-width-medium@s" style="font-size: 0.8em">
                    {{ product.description|prettify_html }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}